<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Skydash Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="vendors/feather/feather.css">
    <link rel="stylesheet" href="vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" type="text/css" href="js/select.dataTables.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="css/vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="images/favicon.png"/>
</head>
<body>
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
            <a class="navbar-brand brand-logo mr-5" href="index">Misay</a>
            <a class="navbar-brand brand-logo-mini" href="index"></a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                <span class="icon-menu"></span>
            </button>
            <ul class="navbar-nav mr-lg-2">
                <li class="nav-item nav-search d-none d-lg-block">
                    <div class="input-group">
                        <div class="input-group-prepend hover-cursor" id="navbar-search-icon">
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav navbar-nav-right">

                <li class="nav-item dropdown">
                </li>
                <li class="nav-item nav-profile dropdown">
                </li>
                <li class="nav-item nav-settings d-none d-lg-flex">
                    <a class="nav-link" href="#">
                        <i class="icon-ellipsis"></i>
                    </a>
                </li>
            </ul>
            <a href="/membership" style="color: #0b7dfd">회원관리</a>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                    data-toggle="offcanvas">
                <span class="icon-menu"></span>
            </button>
        </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_settings-panel.html -->
        <div class="theme-setting-wrapper">
            <div id="settings-trigger"><i class="ti-settings"></i></div>
            <div id="theme-settings" class="settings-panel">
                <i class="settings-close ti-close"></i>
                <p class="settings-heading">SIDEBAR SKINS</p>
                <div class="sidebar-bg-options selected" id="sidebar-light-theme">
                    <div class="img-ss rounded-circle bg-light border mr-3"></div>
                    Light
                </div>
                <div class="sidebar-bg-options" id="sidebar-dark-theme">
                    <div class="img-ss rounded-circle bg-dark border mr-3"></div>
                    Dark
                </div>
                <p class="settings-heading mt-2">HEADER SKINS</p>
                <div class="color-tiles mx-0 px-4">
                    <div class="tiles success"></div>
                    <div class="tiles warning"></div>
                    <div class="tiles danger"></div>
                    <div class="tiles info"></div>
                    <div class="tiles dark"></div>
                    <div class="tiles default"></div>
                </div>
            </div>
        </div>
        <!-- partial -->
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item d-md-none"> <!-- d-md-none 클래스를 사용하여 중간 크기 이상의 화면에서 숨깁니다 -->
                    <a class="nav-link" href="#" id="sidebarToggle">
                        <i class="fa fa-bars menu-icon"></i>
                        <span class="menu-title">메뉴</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/createMember">
                        <i class="icon-grid menu-icon"></i>
                        <span class="menu-title">Create Member</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cx?value=cx">
                        <i class="icon-grid menu-icon"></i>
                        <span class="menu-title">Cx</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sh?value=sh">
                        <i class="icon-layout menu-icon"></i>
                        <span class="menu-title">Sh</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/elbow?value=elbow">
                        <i class="icon-columns menu-icon"></i>
                        <span class="menu-title">Elbow</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/lx?value=lx">
                        <i class="icon-bar-graph menu-icon"></i>
                        <span class="menu-title">Lx</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/knee?value=knee">
                        <i class="icon-grid-2 menu-icon"></i>
                        <span class="menu-title">Knee</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ankle?value=ankle">
                        <i class="icon-contract menu-icon"></i>
                        <span class="menu-title">Ankle</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-md-12 grid-margin">
                        <div class="row">
                            <div class="col-12 col-xl-8">
                                <h3 class="font-weight-bold">Welcome Misay</h3>
                            </div>
                            <br>
                            <div class="col-12 col-xl-8">
                                <div class="justify-content-end d-flex">
                                    <div class="table-responsive">
                                        <form action="/searchMember" method="get">
                                            <div class="input-group-prepend">
                                                <input type="text" name="keyword" class="form-control" placeholder="검색할 이름을 입력하세요." style="width: auto"/>
                                                <button type="submit" class="btn btn-primary">검색</button>
                                            </div>
                                        </form>
                                        <div class="table">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th>No.</th>
                                                    <th>이름</th>
                                                    <th>나이</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="data : ${list}">
                                                    <td th:text="${data.mno}"></td>
                                                    <td><a th:href="@{/memberDetail(name=${data.name}, mno=${data.mno})}"><span
                                                            th:text="${data.name}"></span></a></td>
                                                    <td th:text="${data.age}"></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <div class="text-right mt-3">
                                                <a href="/membership" class="btn btn-primary">회원관리</a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->
            <footer class="footer">
                <div class="d-sm-flex justify-content-center justify-content-sm-between">
                    <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2021.  Premium <a
                            href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from BootstrapDash. All rights reserved.</span>
                    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i
                            class="ti-heart text-danger ml-1"></i></span>
                </div>
                <div class="d-sm-flex justify-content-center justify-content-sm-between">
                    <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Distributed by <a
                            href="https://www.themewagon.com/" target="_blank">Themewagon</a></span>
                </div>
            </footer>
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->

<!-- plugins:js -->
<script src="vendors/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="vendors/chart.js/Chart.min.js"></script>
<script src="vendors/datatables.net/jquery.dataTables.js"></script>
<script src="vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
<script src="js/dataTables.select.min.js"></script>

<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="js/off-canvas.js"></script>
<script src="js/hoverable-collapse.js"></script>
<script src="js/template.js"></script>
<script src="js/settings.js"></script>
<script src="js/todolist.js"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="js/dashboard.js"></script>
<script src="js/Chart.roundedBarCharts.js"></script>
<!-- End custom js for this page-->
</body>

</html>

